<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Mystery0 on 17-12-21 上午3:41.
  ~ Copyright (c) 2017. All Rights reserved.
  ~
  ~ Last modified 17-12-21 上午2:35
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weilylab.xhuschedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExamActivity"
            android:label="@string/title_activity_exam"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScoreActivity"
            android:label="@string/title_activity_score"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ExpScoreActivity"
            android:label="@string/title_activity_expscore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.shortcut.RefreshWidgetActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".activity.shortcut.RefreshColorActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".activity.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.UpdateService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.WidgetLastActionService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.WidgetNextActionService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.WidgetInitService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.ClearCacheColorService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".service.TodayWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".service.ExamWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.weilylab.xhuschedule"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".util.widget.ScheduleCourseWidget"
            android:label="本周课表">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_course_widget_info" />
        </receiver>
        <receiver
            android:name=".util.widget.TodayCourseWidget"
            android:label="今日课表">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_course_widget_info" />
        </receiver>
        <receiver
            android:name=".util.widget.ExamWidget"
            android:label="考试查询">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/exam_widget_info" />
        </receiver>

        <!--禁用FirebaseInitProvider-->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
    </application>

</manifest>